body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.products-1{
    height: auto;
   width: 250px;
   background-color: wheat;
   padding: 10px;
   text-align: center;
   border-radius: 20px;
}
.products-1:hover{
    background-color: aqua;
color: #333;;
}
.products-1 img{
    height: 200px;
    width: 200px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: beige;
    font-size: 25px;
}